[submodule "Externals/DTITCReportDownloader"]
	path = Externals/DTITCReportDownloader
	url = https://github.com/Cocoanetics/DTITCReportDownloader.git 
[submodule "Externals/DTFoundation"]
	path = Externals/DTFoundation
	url = https://github.com/Cocoanetics/DTFoundation.git
[submodule "Externals/Sparkle"]
	path = Externals/Sparkle
	url = https://github.com/ryanmaxwell/Sparkle.git
